html {
  background: linear-gradient(177.52deg, #4574e3 2.11%, #154580 81.34%);
  background-repeat: no-repeat;
  height: 100%;
}

body {
  font-family: "Montserrat", "sans-serif", "Mansalva", cursive;
}

h2,
footer {
  font-family: "Mansalva";
}

button {
  border: none;
}
.is-clickable {
  cursor: pointer;
  margin: 5px 7px;
  padding: 7px 4px;
}

.itens-comprados {
  text-decoration: line-through;
}

.borda-lista {
  border-bottom: dotted 2px blue;
}

input:disabled {
  border: none;
  background: none;
  color: black;
}

input {
  border: none;
  background: none;
  color: black;
}

.alerta {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #48c774; /* verde */
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.alerta.mostrar {
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 800px) {
  .alerta {
    top: 10px;
    right: 10px;
  }
  .item-compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
